@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: rgb(30,156,233);
    background: linear-gradient(90deg, rgba(30,156,233,1) 0%, rgba(74,175,236,1) 16%, rgba(162,213,244,1) 35%);
}

header{
    background-color: #265f8283;
    color: white;
    width: auto;
}
  
header .navbar hdr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 8%;
    width: 100%;
    float: left;
    background-color: #59b7f2;
}

.linkBox{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.link {
    padding: 10px;
    margin: 0 0 0 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}
  
.link2 {
    padding: 10px;
    margin: 0 0 0 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    background-color: #f88913;
    border-radius: 5px;
}
  
.link:hover {
    color: #f88913;
    transition: 1s;
    text-decoration: none;
}
  
.link2:hover {
    color: white;
    transition: 1s;
    text-decoration: none;
}

img {
    width: 100%;
}

.solution > p {
    color: white;
    text-align: center;
    padding: 70px;
    font-size: 30px;
    font-weight: 700;
}
            
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: rgb(20, 6, 63);
}

.item {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
}

.item:hover {
    color: #265f8283;
    transition: 0.5s;
}

.beneficios {
    font-size: 19px;
    font-weight: 800;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

#awesome {
    width: 45px;
    height: 45px;
    justify-content: space-between;
    padding-left: 55px;
}
      
.cadastrar {
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button[type="submit"] {
    position: relative;
    left: -1px;
    border-radius: 0 25px 25px 0;
    width: 140px;
    height: 63px;
    border: none;
    outline: none;
    cursor: pointer;
    background:#f88913;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

input[type="submit"]:hover {
    background: #f7af63;

}

input[type="text"]
{
    background: rgb(255, 255, 255);
    width: 370px;
    height: 63px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    font-size: 17px;
}

@media only screen and (max-width: 950px) {
    .container {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .item {
        width: 50%;
        height: 50%;
        margin-top: 50px;
    }
}